---
title: Fathom Five National Marine Park | Tobermory Attractions | Luxeberry Group
theme: dark
canonical: https://luxeberry.ca/tobermory/attractions/fathom-five-national-marine-park
description: The Fathom Five National Marine Park protects the shimmering Georgian Bay, whose touristic treasures include ancient shipwrecks, lonely lighthouses, and a thriving freshwater ecosystem. Hiking, sailing, diving, and glass-bottom boat rides are available in this exciting section of Lake Huron.
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="cover cover_height_small">
  <picture class="cover__pic">
    <source srcset="/img/cover-attractions-fathom-five_mob.jpg, /img/cover-attractions-fathom-five_mob@2x.jpg 2x" media="(max-width: 480px)">
    <img class="cover__img" src="/img/cover-attractions-fathom-five.jpg" srcset="/img/cover-attractions-fathom-five@2x.jpg 2x" alt="Fathom Five National Marine Park">
  </picture>
</div>

<div class="box">

  <article class="mb">
    <div class="cap">
      <h1 class="title">Fathom Five National Marine Park</h1>
      <div class="cap__desc">
        <a href="#map" class="map-link js-anchor">
          <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
          <span class="map-link__text">121 Chi sin tib dek Rd, Tobermory, ON N0H 2R0</span> 
        </a>
      </div>
    </div>
    <div class="content">
      <p>
        Fascinating freshwater eco-systems, wonderous underwater wrecks, and forested pine-fringed islands entice travelers to explore the Fathom Five National
        Marine Park.
      </p>
      <p>
        The gorgeous 130 km2 park became Canada’s first National Marine Conservation Area in 1987 to preserve the northeast section of the Bruce Peninsula.
        The natural area itself dates back some 400 million years when the ancient oceans of the Great Lakes receded and their coral reefs morphed into cragged
        dolomite islands.
      </p>
      <p>
        And today, this beautifully preserved park has become a pristine playground for Canadian and foreign travelers in search of a soothing nature escape. The
        finest <a href="/tobermory/attractions/scuba-diving" target="_blank">freshwater diving</a> in North America lures in the lion’s share, though the park’s also got a seemingly endless array of forested hiking trails and pretty
        islands to explore.
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-scuba-diving.jpg" data-srcset="/img/activity-tobermory-lg-scuba-diving@2x.jpg 2x" alt="Scuba Diving Tobermory Shipwrecks">
      </div>
      <h2>
        Diving the Wrecks of the Fathom Five National Marine Park
      </h2>
      <p>
        Sure, the water may get a little chilly here. But the sheer quantity of fascinating shipwrecks combined with near-perfect visibility makes Fathom Five among
        the top freshwater dive areas on earth.
      </p>
      <p>
        You’ll have no less than 22 shipwrecks to explore, ranging from a giant 213-ft steamer to a petite 19th-century schooner. The Georgian Bay’s cold
        freshwater ensures each site remains immaculately preserved and the visibility here is second to none.
      </p>
      <p>
        Several dive centres in Tobermory offer expeditions: <a href="https://www.diversden.ca/" target="_blank">Divers Den Scuba Charters and Rentals</a>, and <a href="https://www.gswatersports.net/snorkeling" target="_blank">G&S Watersports</a>. Prices vary depending on the length and complexity of the dive.
      </p>
      <h2>
        Snorkeling the Wrecks
      </h2>
      <p>
        If you’re not a qualified SCUBA diver, there’s ample opportunity to discover these underwater sites with a snorkel instead.
      </p>
      <p>
        A prime example is the Canadian schooner Sweepstakes, which lies just 50m offshore in Big Tub Harbour and 6m below the surface. Another top spot is
        the City of Grand Rapids, a few metres away. This old ship burnt down in 1907 and rests in shallow water, with some sections poking up through the
        surface.
      </p>
      <h2>
        Glassbottom Boat Rides in the Fathom Five
      </h2>
      <p>
        If you want to see the shipwrecks without getting your feet wet, book yourself a spot on a glass-bottom boat tour instead.
      </p>
      <p>
        Departing from Little Tub Harbour, <a href="https://www.cruisetobermory.com/" target="_blank">Blue Heron Cruises</a> and <a href="https://cruises.bruceanchor.com/" target="_blank">Bruce Anchor Cruises</a> offer full-day trips to explore the best underwater sites and admire the
        region’s rugged rocky coastline.
      </p>
      <p>
        Tours run from May to October and cost approximately $40 per adult.
      </p>
      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-flowerpot-island.jpg" data-srcset="/img/activity-tobermory-lg-flowerpot-island@2x.jpg 2x" alt="Flowerpot Island">
      </div>
      <h2>
        Visiting Flowerpot Island
      </h2>
      <p>
        <a href="https://www.cruisetobermory.com/" target="_blank">Blue Heron Cruises</a> and <a href="https://cruises.bruceanchor.com/" target="_blank">Bruce Anchor Cruises</a> also organize trips to <a href="/tobermory/attractions/flowerpot-island" target="_blank">Flowerpot Island</a>, a small and beautiful isle 6km from Tobermory.
      </p>
      <p>
        Upon arrival at the pier on Beachy Cove, you embark on a 90-minute circular hiking trail around the island. Enroute, you’ll pass the famed flowerpot-like
        rock formations, rocky coastlines with crystal clear waters, and a lonely old lighthouse with an attached museum.
      </p>
      <p>
        If you visit between mid-May and early June, the whole island will spring to life as its bright purple calypso orchids come into bloom.
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-cottage.jpg" data-srcset="/img/activity-tobermory-lg-cottage@2x.jpg 2x" alt="Tobermory Cottage Rental">
        <div class="figure__bottom">
          <a href="/tobermory/cottage/tobermoryshores" class="figure__link" target="_blank">Tobermory Shores Cottage</a>
        </div>
      </div>

      <h2>
        Where To Stay In The Fathom Five National Marine Park
      </h2>
      <p>
        Most travelers choose to base themselves in Tobermory, a quaint little harbour town on the tip of the peninsula.
      </p>
      <p>
        Several hotels and cabins line the shore around town. But to truly treat yourself, why not book a luxury holiday home by the lake? Our <a href="/tobermory/cottage/tobermoryshores">ultramodern
        waterfront cottage</a> offers breathtaking Georgian Bay views plus sleek contemporary design and a whole host of high-end amenities.
      </p>
      <p>
        If you’d rather pitch a tent, there are limited campsites on Flowerpot Island for $10 per person; <a href="https://www.pc.gc.ca/en/amnc-nmca/on/fathomfive/activ/camping" target="_blank">advanced reservations</a> are required. There’s no running
        water here, and only basic snacks are available from the Flowerpot Island Light Station.
      </p>
      <div class="figure">
        <div class="map-inner" id="map">
          <iframe class="map-inner__frame" src=""
                  data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11233.818666576546!2d-81.6580995!3d45.2588192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2d0af3a371c9a1%3A0xf781ff1812dfe401!2sFathom%20Five%20National%20Marine%20Park!5e0!3m2!1sen!2sca!4v1584145602586!5m2!1sen!2sca"
                  width="1238" height="670" frameborder="0" allowfullscreen="">
          </iframe>
        </div>
        <div class="figure__bottom">
          <span class="map-link map-link_small">
            <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
            <span class="map-link__text">121 Chi sin tib dek Rd, Tobermory, ON N0H 2R0</span>
          </span>
        </div>
      </div>
      <h2>
        Getting to Fathom Five National Marine Park
      </h2>
      <p>
        Most visitors come to Tobermory by car on Highway 6, a 3.5-hour drive from downtown Toronto.
      </p>
      <p>
        If you don’t have your own wheels, you could take the seasonal <a href="https://www.parkbus.ca/bruce" target="_blank">Parkbus</a> service from Toronto instead.  Another option is to take a
        <a href="https://www.greyhound.ca/" target="_blank">Greyhound</a> to Owen Sound then connect to Tobermory on a <a href="https://tobermory.com/services/bus-services" target="_blank">First Student Canada</a> bus.
      </p>
      <p>
        The <a href="http://www.ontarioferries.com/en/schedules/" target="_blank">M.S. Chi-Cheemaun ferry service</a> connects Tobermory to Manitoulin Island on weekends during the summer.
      </p>
      <p>
        Drop by the <a href="/tobermory/attractions/bruce-peninsula-national-park" target="_blank">Bruce Peninsula</a> and Fathom Five Visitor Centre in Tobermory to pay your entrance $5 fee and get more information about the park.
      </p>
    </div>
  </article>

  <div class="hr hr_default"></div>

  {% include "partials/_top-things-tobermory.html" %}

  <div class="hr hr_default"></div>

  {% include "partials/_places-stay-tobermory.html" %}

</div>

{% endblock %}