---
title: Flowerpot Island | Tobermory Attractions | Luxeberry Group
theme: light
canonical: https://luxeberry.ca/tobermory/attractions/flowerpot-island
description: As the star attraction of the Fathom Five, Flowerpot Island juts out of the glistening Georgian Bay. A well-maintained circular hiking route takes in the most scenic views, including the jagged ‘flowerpot’ rock formations that rise vertically from the lake.
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="cover cover_height_small">
  <picture class="cover__pic">
    <source srcset="/img/cover-attractions-flowerpot-island_mob.jpg, /img/cover-attractions-flowerpot-island_mob@2x.jpg 2x" media="(max-width: 480px)">
    <img class="cover__img" src="/img/cover-attractions-flowerpot-island.jpg" srcset="/img/cover-attractions-flowerpot-island@2x.jpg.jpg 2x" alt="Flowerpot Island">
  </picture>
</div>

<div class="box">

  <article class="mb">
    <div class="cap">
      <h1 class="title">Exploring Flowerpot Island</h1>
      <div class="cap__desc">
        <a href="#map" class="map-link js-anchor">
          <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
          <span class="map-link__text">Northern Bruce Peninsula, ON</span> 
        </a>
      </div>
    </div>
    <div class="content">
      <p>
        Famed for its photogenic flowerpot-like sea stacks, this picturesque little island is a must for anyone on a tour of the <a href="/tobermory/attractions/bruce-peninsula-national-park" target="_blank">Bruce Peninsula</a>. Lush hiking trails, rugged rocky cliffs, scenic lakeside panoramas, and a lonely old lighthouse enchant everyone who visits. And come during the spring, you’ll be greeted by a vibrant array of technicoloured orchids as well.
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-tour-boat.jpg" data-srcset="/img/activity-tobermory-lg-tour-boat@2x.jpg 2x" alt="Flowerpot Island Boat Tour">
      </div>

      <h2>
        Getting to Flowerpot Island
      </h2>
      <p>
        Flowerpot Island rises from the clear waters of Lake Huron about 6 km northeast of Tobermory within the <a href="/tobermory/attractions/fathom-five-national-marine-park" target="_blank">Fathom Five National Marine Park</a>. It’s the only island in the Fathom Five that’s accessible without private transport. 
      </p>
      <p>
        <a href="https://cruisetobermory.com/" target="_blank">Blue Heron Cruises</a> and <a href="http://bruceanchor.com/" target="_blank">Bruce Anchor Cruises</a> both offer ferry services to Flowerpot Island, with multiple departures per day between May and October. These trips include a scenic cruise of local sights such as shipwrecks and lighthouses along the way.
      </p>
      <p>
        If you’re happy to see Flowerpot Island from the boat, both companies offer sightseeing cruises to visit the region’s top spots, including the island’s famous ‘flowerpot’ formations. 
      </p>
      <p>
        And if you’d rather enjoy the scenery with a bird’s eye view, Blue Heron do <a href="https://www.blueherontours.ca/tours.html" target="_blank">helicopter tours</a> of Flowerpot Island and other attractions in the Fathom Five. 
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-hiking.jpg" data-srcset="/img/activity-tobermory-lg-hiking@2x.jpg 2x" alt="Hiking Flowerpot Island">
      </div>

      <h2>
        Hiking Flowerpot Island
      </h2>
      <p>
        You’ll disembark the ferry at Beachy Cove near the trailhead for the Loop Trail. 
      </p>
      <p>
        Head east and follow the path along the shore towards the Flowerpot Lighthouse Station, which takes about 30 minutes in total. The first stop will be a 7-metre natural sea stack, although a bigger flowerpot lies further up the track and makes for a better photo op.
      </p>
      <p>
        Upon reaching the lighthouse, be sure to clamber down to the limestone cave by the lakeshore.
      </p>
      <p>
        Take the inland route home, which tramples over rugged bluffs to arrive at Beachy Cove. If you’re feeling energetic, there’s a 90-minute return detour called the Marl Trail, which leads to Marls Beds on the far west of the island.
      </p>
      <p>
        The entire Loop Trail (not including the detour) takes about 90 minutes of non-stop hiking. Aim for 2.5 hours to give you plenty of time to stop and admire the scenery along the way. 
      </p>

      <h2>
        Visiting the Flowerpot Island Lighthouse
      </h2>
      <p>
        At the northern tip, you’ll find the Flowerpot Island Light Station–built back in 1897 to prevent the frequent shipwrecks that plagued the Georgian Bay. New technology in the ’60s saw the original structure dismantled and replaced by an automated light tower made of steel.
      </p>
      <p>
        There’s also a cute little museum that opens during the summer, where enthusiastic volunteers explain the lonely life of a lighthouse keeper in great detail. A small shop here sells cold drinks and snacks, and there’s a raised platform for panoramic views.  
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-camping-tobermory.jpg" data-srcset="/img/activity-tobermory-lg-camping-tobermory@2x.jpg 2x" alt="Camping">
        <div class="figure__bottom">
          Photo by Şahin Yeşilyaprak on Unsplash
        </div>
      </div>

      <h2>
        Camping on Flowerpot Island
      </h2>
      <p>
        Flowerpot Island is the only island in the Fathom Five National Marine Park to permit camping.
      </p>
      <p>
        All six campsites are located around Beachy Cove and lack basic facilities such as running water. <a href="https://www.pc.gc.ca/en/amnc-nmca/on/fathomfive/activ/camping" target="_blank">Booking ahead</a> is obligatory; the available sites fill quickly in the peak season. Bruce Anchor Cruises will transport camper vans under certain conditions.  
      </p>
      <p>
        Campers and daytrippers alike bring food from the mainland for a picnic lunch (there’s no restaurant here). The best spots to eat are at Beachy Cove or by the flowerpots. 
      </p>

      <div class="figure">
        <div class="map-inner">
          <iframe class="map-inner__frame" src=""
                  data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44912.29345116834!2d-81.67123541156448!3d45.287851104631095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2da0a2601d447f%3A0xb0bbca9874162864!2sFlowerpot%20Island!5e0!3m2!1sen!2sca!4v1586104574158!5m2!1sen!2sca"
                  width="1238" height="670" frameborder="0" allowfullscreen="">
          </iframe>
        </div>
        <div class="figure__bottom" id="map">
          <span class="map-link map-link_small">
            <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
            <span class="map-link__text">121 Chi sin tib dek Rd, Tobermory, ON N0H 2R0</span>
          </span>
        </div>
      </div>
 
    </div>
  </article>

  <div class="hr hr_default"></div>

  {% include "partials/_top-things-tobermory.html" %}

  <div class="hr hr_default"></div>

  {% include "partials/_places-stay-tobermory.html" %}

</div>

{% endblock %}