---
title: Scuba Diving and Snorkelling | Tobermory Attractions | Luxeberry Group
theme: dark
canonical: https://luxeberry.ca/tobermory/attractions/scuba-diving
description: Boasting crystal clear water and almost two dozen shipwrecks to explore, the Fathom Five National Marine Park serves up the best underwater adventures in Canada. Its near-perfect visibility and dazzling limestone shoals make it well worth braving the frigid water.
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="cover cover_height_small">
  <picture class="cover__pic">
    <source srcset="/img/cover-attractions-scuba-diving-2_mob.jpg, /img/cover-attractions-scuba-diving-2_mob@2x.jpg 2x" media="(max-width: 480px)">
    <img class="cover__img" src="/img/cover-attractions-scuba-diving-2.jpg" srcset="/img/cover-attractions-scuba-diving-2@2x.jpg 2x" alt="Flowerpot Island">
  </picture>
</div>

<div class="box">

  <article class="mb">
    <div class="cap">
      <h1 class="title">Scuba Diving and Snorkelling in the Fathom Five National Marine Park</h1>
      <div class="cap__desc">
        <a href="#map" class="map-link js-anchor">
          <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
          <span class="map-link__text">121 Chi sin tib dek Rd, Tobermory, ON N0H 2R0</span> 
        </a>
      </div>
    </div>
    <div class="content">
      <p>
        Much like the other Great Lakes, the Georgian Bay is a notoriously dangerous place to sail because its islands rise abruptly from the surface, with sharp inclines descending rapidly below. Consequently, early mariners would often crash into these unpredictable shallow shoals and meet a watery grave. A whopping 22 shipwrecks–most are original although some were sunk by Tobermory Martime to create new dive sites—lie within the <a href="/tobermory/attractions/fathom-five-national-marine-park" target="_blank">Fathom Five National Marine Park</a> alone.
      </p>
      <p>
        And with crystal clear waters creating ideal conditions to explore these nautical relics, the park has earned a reputation for being among the best freshwater SCUBA destinations on earth. Europeans, Americans, and Canadians alike flock to Five Fathom in droves to dive its watery wrecks. 
      </p>
      <p>
        If exploring centuries-old submerged vessels in near-perfect visibility sounds like your cup of tea, then get ready to have an unfathomably good time. 
      </p>

      <div class="figure">
        <img class="lazyload" width="1238" height="412" data-src="/img/activity-tobermory-lg-scuba-diving.jpg" data-srcset="/img/activity-tobermory-lg-scuba-diving@2x.jpg 2x" alt="Scuba Diving Tobermory">
      </div>

      <h2>
        Dive Shops In Tobermory
      </h2>
      <p>
        SCUBA divers will need to get in touch with a local dive shop to organize a wreck dive in the Fathom Five National Marine Park. 
      </p>
      <ul class="list">
        <li class="list__item"><a href="https://www.diversden.ca/" target="_blank">Divers Den</a></li>
        <li class="list__item"><a href="https://www.gswatersports.net/" target="_blank">G&S Watersports</a></li>
        <li class="list__item"><a href="https://www.aquariusscuba.com/product/tobermory/" target="_blank">Aquarius Scuba Diving Centre</a></li>
      </ul>
      <p>
        These operators can organize training courses, charter trips, and guided dives with qualified dive masters. 
      </p>

      <h2>
        Snorkelling Tours of the Fathom Five National Marine Park
      </h2>
      <p>
        If you’re not into SCUBA, the local dive shops also run daily snorkelling trips during the warmer months. These tours last two to four hours and visit shallow shipwrecks just below the surface. All excursions are accessible to first-time snorkelers. 
      </p>
      <p>
        Another option is to bring a snorkel from home (or rent one from a dive shop) then swim out to the Sweepstakes and City of Grand Rapids wrecks in Big Tub Harbour. These twin sites lie within 50 metres of the shore and can safely be explored by any confident swimmer. 
      </p>

      <h2>
        Logistics
      </h2>
      <p>
        All SCUBA divers must pay a nominal daily marine park fee of approximately $5 at the Fathom Five National Marine Park Visitor Centre (snorkelers are exempt). Alternatively, pay the fee directly to your dive shop. 
      </p>
      <p>
        The <a href="https://www.google.com/maps/place/Peninsula+Medical+Associates/@45.2422822,-81.6532409,18.42z/data=!4m8!1m2!2m1!1sMedical+Clinic+tobermory%09+!3m4!1s0x4d2d0b075af6bd9b:0xda0fba4f8b85dd42!8m2!3d45.2424928!4d-81.652872" target="_blank">Peninsula Medical Associates</a> in Tobermory has one of the only hyperbaric facilities in Canada. 
      </p>

      <h2>
        Dive Sites
      </h2>
      <p>
        At least 29 dive sites are available to explore throughout the park, ranging from shallow beginner-friendly spots to advanced deep dives of 40 metres or more. 
      </p>
      <p>
        Novice divers should opt to explore the five sites within Little Tub and Big Tub Harbour, many of which focus on shallow wrecks and are accessible from the shore.
      </p>
      <p>
        Other dive sites around the region are open water and require a tour or charter boat to reach.
      </p>

<table>
  <caption>Top Dive Sites</caption>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Date Sunk</th>
      <th scope="col">Qualifications</th>
       <th scope="col">Depth</th>
   </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="Name">Niagra</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1999</td>
      <td data-label="Qualifications">Open Water + Advanced</td>
      <td data-label="Depth">33 m</td>
    </tr>
    <tr>
      <td data-label="Name">Arabia</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1884</td>
      <td data-label="Qualifications">Open Water + Advanced</td>
      <td data-label="Depth">32 m</td>
    </tr>
    <tr>
      <td data-label="Name">Caroline Rose</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1990</td>
      <td data-label="Qualifications">Open Water</td>
      <td data-label="Depth">16 m</td>
    </tr>
    <tr>
      <td data-label="Name">Charles P Minch</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1898</td>
      <td data-label="Qualifications">Open Water</td>
      <td data-label="Depth">17 m</td>
    </tr>
    <tr>
      <td data-label="Name">Philo Scoville</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1889</td>
      <td data-label="Qualifications">Advanced</td>
      <td data-label="Depth">28 m</td>
    </tr>
    <tr>
      <td data-label="Name">Forest City</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1904</td>
      <td data-label="Qualifications">Advanced</td>
      <td data-label="Depth">46 m</td>
    </tr>
    <tr>
      <td data-label="Name">James C King</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1901</td>
      <td data-label="Qualifications">Intermediate</td>
      <td data-label="Depth">27 m</td>
    </tr>
    <tr>
      <td data-label="Name">The Tugs</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1905</td>
      <td data-label="Qualifications">Advanced</td>
      <td data-label="Depth">14 m</td>
    </tr>
    <tr>
      <td data-label="Name">W.L Wetmore</td>
      <td data-label="Type">Wreck</td>
      <td data-label="Date Sunk">1901</td>
      <td data-label="Qualifications">Open Water</td>
      <td data-label="Depth">7 m</td>
    </tr>
    <tr>
      <td data-label="Name">The Caves</td>
      <td data-label="Type">Cave</td>
      <td data-label="Date Sunk">-</td>
      <td data-label="Qualifications">Cave Diving</td>
      <td data-label="Depth">12 m</td>
    </tr>
    <tr>
      <td data-label="Name">Lighthouse Point</td>
      <td data-label="Type">Open Water</td>
      <td data-label="Date Sunk">-</td>
      <td data-label="Qualifications">Open Water + Advanced</td>
      <td data-label="Depth">23 m</td>
    </tr>
  </tbody>
</table>

      <div class="figure">
        <div class="map-inner">
          <iframe class="map-inner__frame" src=""
                  data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11233.818666576546!2d-81.6580995!3d45.2588192!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4d2d0af3a371c9a1%3A0xf781ff1812dfe401!2sFathom%20Five%20National%20Marine%20Park!5e0!3m2!1sen!2sca!4v1584145602586!5m2!1sen!2sca"
                  width="1238" height="670" frameborder="0" allowfullscreen="">
          </iframe>
        </div>
        <div class="figure__bottom" id="map">
          <span class="map-link map-link_small">
            <svg class="map-link__icon" width="14" height="18"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-map-marker"></use></svg>
            <span class="map-link__text">121 Chi sin tib dek Rd, Tobermory, ON N0H 2R0</span>
          </span>
        </div>
      </div>
 
    </div>
  </article>

  <div class="hr hr_default"></div>

  {% include "partials/_top-things-tobermory.html" %}

  <div class="hr hr_default"></div>

  {% include "partials/_places-stay-tobermory.html" %}

</div>

{% endblock %}