---
title: Carlisle Vacation Home Rental | Elderberry Manor | Luxeberry Group
theme: dark
canonical: https://luxeberry.ca/hamilton/home/elderberrymanor
description: The surrounding countryside of Carlisle is the perfect destination for golf enthusiasts, hikers, cyclists and bird watchers. Golf courses and conservation areas surround Carlisle which is just a short drive to Burlington, Oakville, Hamilton and Guelph, Carlisle.
---

{% extends "layouts/_layout.html" %}

{% block content %}

<div class="gallery">
  <div class="gallery__cover">
    <div class="gallery__main">
      <picture class="gallery__picture">
        <source srcset="/img/cover-elderberry_8-main_mob.jpg, /img/cover-elderberry_8-main_mob@2x.jpg 2x" media="(max-width: 480px)">
        <img class="gallery__image" src="/img/cover-elderberry_8-main.jpg" srcset="/img/cover-elderberry_8-main@2x.jpg 2x" alt="Elderberry Manor">
      </picture>
      <div class="gallery__item">
        <picture class="gallery__pic">
          <source data-srcset="/img/gallery-elderberry-main_2_mob.jpg, /img/gallery-elderberry-main_2_mob@2x.jpg 2x" media="(max-width: 480px)">
          <img class="gallery__img lazyload" data-src="/img/gallery-elderberry-main_2.jpg" data-srcset="/img/gallery-elderberry-main_2@2x.jpg 2x" alt="Elderberry Manor">
        </picture>
        <div class="gallery__desc">Gourmet chef's kitchen</div>
      </div>
    </div>
    <div class="box gallery__slider">
      <div class="swiper-container slider slider_property">
        <div class="swiper-wrapper">
          {% set gallery = [{
          "img" : "gallery-elderberry-main_4",
          "alt" : "Dining for up to 10 people",
          "desc" : "Dining for up to 10 people"
          },{
          "img" : "gallery-elderberry-main_3",
          "alt" : "Gourmet chef's kitchen",
          "desc" : "Gourmet chef's kitchen"
          },{
          "img" : "gallery-elderberry-main_1",
          "alt" : "Gourmet chef's kitchen",
          "desc" : "Gourmet chef's kitchen"
          },{
          "img" : "gallery-elderberry-main_5",
          "alt" : "Living room",
          "desc" : "Living room"
          },{
          "img" : "gallery-elderberry-main_6",
          "alt" : "Living room",
          "desc" : "Living room"
          },{
          "img" : "gallery-elderberry-main_7",
          "alt" : "Front entrance",
          "desc" : "Front entrance"
          },{
          "img" : "gallery-elderberry-main_8",
          "alt" : "Front entrance and office",
          "desc" : "Front entrance and office"
          },{
          "img" : "gallery-elderberry-main_9",
          "alt" : "Main floor powder room",
          "desc" : "Main floor powder room"
          },{
          "img" : "gallery-elderberry-main_10",
          "alt" : "Lower level games and media room",
          "desc" : "Lower level games and media room"
          },{
          "img" : "gallery-elderberry-main_11",
          "alt" : "Lower level games room with table tennis, foosball and darts",
          "desc" : "Lower level games room with table tennis, foosball and darts"
          },{
          "img" : "gallery-elderberry-main_12",
          "alt" : "Foosball table",
          "desc" : "Foosball table"
          },{
          "img" : "gallery-elderberry-main_13",
          "alt" : "Media area with large screen tv",
          "desc" : "Media area with large screen tv"
          },{
          "img" : "gallery-elderberry-main_14",
          "alt" : "Lower level bathroom",
          "desc" : "Lower level bathroom"
          },{
          "img" : "gallery-elderberry-main_15",
          "alt" : "Lower level workout room with infrared sauna",
          "desc" : "Lower level workout room with infrared sauna"
          },{
          "img" : "gallery-elderberry-main_16",
          "alt" : "Workout room",
          "desc" : "Workout room"
          },{
          "img" : "gallery-elderberry-main_17",
          "alt" : "Master bedroom",
          "desc" : "Master bedroom"
          },{
          "img" : "gallery-elderberry-main_18",
          "alt" : "Master bedroom ensuite",
          "desc" : "Master bedroom ensuite"
          }] %}

          {% for item in gallery %}
          {{ gallerySlide(item.img, item.alt, item.desc) }}
          {% endfor %}
        </div>
        <div class="swiper-button-prev"><span class="swiper-arrow-big"></span></div>
        <div class="swiper-button-next"><span class="swiper-arrow-big"></span></div>
      </div>
    </div>
  </div>
  <!-- popup gallery (start) -->
  <div class="gallery__popup">
    <div class="gallery__box">
      <div class="gallery__top">
        <a href="#" class="gallery__close"></a>
      </div>
      <div class="gallery__container box box_big">
        <div class="gallery__side">
          <div class="gallery__caption">
            <h2 class="gallery__title">Elderberry Manor</h2>
            <img class="gallery__logo lazyload" data-src="/img/logo-elderberryestates.png" data-srcset="/img/logo-elderberryestates@2x.png 2x" alt="Elderberry Manor">
          </div>
        </div>
        <div class="gallery__base"></div>
      </div>
    </div>
  </div>
  <!-- popup gallery (end) -->
</div>

<div class="box">
  <div class="property">
    <div class="property__base">
      <div class="property__top">
        <h1 class="property__title">Luxury Home in Carlisle</h1>
        <div class="property__desc">
          <a href="/hamilton/home/rentals" target="_blank" class="property__location">Carlisle, Ontario</a>
        </div>
      </div>
      <ul class="property__info">
        <li class="property__info-item">Entire home</li>
        <li class="property__info-item">8 guests</li>
        <li class="property__info-item">4 bedrooms</li>
        <li class="property__info-item">4 beds</li>
        <li class="property__info-item">3 baths</li>
      </ul>
      <div class="property__column">
        <img class="property__logo" src="/img/logo-elderberryestates.png" srcset="/img/logo-elderberryestates@2x.png 2x"
             alt="Elderberry Manor">
      </div>
    </div>
    <div class="property__side">
      <div class="booking">
        <div class="booking__btn">
          <a href="https://www.airbnb.ca/h/elderberrymanor" target="_blank" class="btn btn_light">Check availability</a>
        </div>
        <div class="booking__box">
          <div class="booking__text">Starting at</div>
          <div class="booking__price"><strong>${% include 'partials/prices-per-night/_elderberry.html' %}</strong> per
            night
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="expand expand_active expand_small">
    <div class="expand__wrapper">
      <div class="expand__container content">
        <p>
          The surrounding countryside of Carlisle is the perfect destination for golf enthusiasts, hikers, cyclists and
          bird watchers. Golf courses, parks and conservation areas surround Carlisle, which is just a short drive to
          Burlington, Oakville, Hamilton and Guelph, Carlisle. Ten minutes from the 401 or QEW, making Toronto, Niagara
          Falls and other cities even Buffalo very accessible.
        </p>
      </div>
      <a href="#" class="expand__box">
        <div class="expand__link">
          <span class="expand__text expand__text_show">Read more about the property</span>
          <span class="expand__text expand__text_hide">Hide</span>
        </div>
      </a>
    </div>
  </section>
  <div class="hr hr_mobile"></div>
  <section class="expand expand_active expand_big mb">
    <h2 class="title title_mb">Amenities</h2>
    <div class="expand__wrapper">
      <div class="expand__container services">
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-parking"></use>
            </svg>
            <h3 class="services__title">Parking</h3>
          </div>
          <ul class="list">
            <li class="list__item">Free parking available on site for 4 vehicles</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-wifi"></use>
            </svg>
            <h3 class="services__title">Internet</h3>
          </div>
          <ul class="list">
            <li class="list__item">Free WiFi is available</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-oven"></use>
            </svg>
            <h3 class="services__title">Kitchen & Dining</h3>
          </div>
          <ul class="list">
            <li class="list__item">10-12 seat dining table</li>
            <li class="list__item">2 seat kitchen island</li>
            <li class="list__item">8 seat patio table (April to October)</li>
            <li class="list__item">Stovetop and oven</li>
            <li class="list__item">Microwave</li>
            <li class="list__item">Cookware & bakeware</li>
            <li class="list__item">Utensils & cutting knives</li>
            <li class="list__item">Trivets & coasters</li>
            <li class="list__item">Refrigerator</li>
            <li class="list__item">Coffee machine</li>
            <li class="list__item">Cleaning products</li>
            <li class="list__item">Paper towel (2 rolls)</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="21" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-dog"></use>
            </svg>
            <h3 class="services__title">Pets</h3>
          </div>
          <ul class="list">
            <li class="list__item">No pets</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="21" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-bed"></use>
            </svg>
            <h3 class="services__title">Bedrooms</h3>
          </div>
          <ul class="list">
            <li class="list__item">5 bedrooms</li>
            <li class="list__item">1 king bed</li>
            <li class="list__item">3 queen beds</li>
            <li class="list__item">2 twin beds</li>
            <li class="list__item">2 roll out beds</li>
            <li class="list__item">Non-feather pillows</li>
            <li class="list__item">Non-feather duvets</li>
            <li class="list__item">Flat sheets</li>
            <li class="list__item">USB phone charging port</li>
            <li class="list__item">Fan</li>
            <li class="list__item">Alarm clock</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-bathtub"></use>
            </svg>
            <h3 class="services__title">Bathrooms</h3>
          </div>
          <ul class="list">
            <li class="list__item">3 bathrooms</li>
            <li class="list__item">Bathtub (1)</li>
            <li class="list__item">Shower (3)</li>
            <li class="list__item">Towels</li>
            <li class="list__item">Hairdryer</li>
            <li class="list__item">Toilet paper (2 rolls per bathroom)</li>
            <li class="list__item">Liquid body soap (3 travel size)</li>
            <li class="list__item">Facial soap (3 travel size)</li>
            <li class="list__item">Shampoo (3 travel size)</li>
            <li class="list__item">Conditioner (3 travel size)</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="22" height="21">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-bell"></use>
            </svg>
            <h3 class="services__title">Check-in/out</h3>
          </div>
          <ul class="list">
            <li class="list__item">Smart lock self check-in</li>
            <li class="list__item">Backup key</li>
            <li class="list__item">Ring doorbell</li>
            <li class="list__item">Exterior cameras</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-padlock"></use>
            </svg>
            <h3 class="services__title">Security & Safety</h3>
          </div>
          <ul class="list">
            <li class="list__item">Ring video doorbell</li>
            <li class="list__item">Exterior cameras</li>
            <li class="list__item">Fire extinguisher</li>
            <li class="list__item">Carbon monoxide detectors</li>
            <li class="list__item">Smoke detectors</li>
            <li class="list__item">First aid kit</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="22" height="22">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-barbecue"></use>
            </svg>
            <h3 class="services__title">Outdoor</h3>
          </div>
          <ul class="list">
            <li class="list__item">BBQ grill</li>
            <li class="list__item">Back patio with dining table</li>
            <li class="list__item">Back patio with seating</li>
            <li class="list__item">Large saltwater pool</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-television"></use>
            </svg>
            <h3 class="services__title">Entertainment</h3>
          </div>
          <ul class="list">
            <li class="list__item">Netflix</li>
            <li class="list__item">Amazon Prime</li>
            <li class="list__item">Table tenis</li>
            <li class="list__item">PS4</li>
            <li class="list__item">Card games</li>
            <li class="list__item">Board games</li>
            <li class="list__item">Books</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="22" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-coffee-cup"></use>
            </svg>
            <h3 class="services__title">Food & Drink</h3>
          </div>
          <ul class="list">
            <li class="list__item">10 K-cup coffee pods</li>
            <li class="list__item">10 black tea (individually sealed)</li>
            <li class="list__item">10 green tea (individually sealed)</li>
            <li class="list__item">10 white sugar packets</li>
            <li class="list__item">10 brown sugar packets</li>
            <li class="list__item">10 sweetener packets</li>
            <li class="list__item">Filtered tap water or Brita filter</li>
          </ul>
        </div>
        <div class="services__item">
          <div class="services__top">
            <svg class="services__icon" width="20" height="20">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-gear"></use>
            </svg>
            <h3 class="services__title">Miscellaneous</h3>
          </div>
          <ul class="list">
            <li class="list__item">Air conditioning</li>
            <li class="list__item">Heating</li>
            <li class="list__item">Smoke-free property</li>
          </ul>
        </div>
      </div>
      <a href="#" class="expand__box">
        <div class="expand__link">
          <span class="expand__text expand__text_show">Show all amenties</span>
          <span class="expand__text expand__text_hide">Hide</span>
        </div>
      </a>
    </div>
  </section>
  <h2 class="title title_mb">Location</h2>
  <!-- map (start) -->
  <div class="map">
    <div class="map__box">
      <a href="#" class="map__pic zoom-link">
        <picture class="zoom__pic">
          <source data-srcset="/img/map-tobermory_mob.jpg, /img/map-tobermory_mob@2x.jpg 2x" media="(max-width: 480px)">
          <img class="map__img lazyload" data-src="/img/map-tobermory.jpg" data-srcset="/img/map-tobermory@2x.jpg 2x"
               alt="Tobermory map">
        </picture>
      </a>
      <div class="map__content">
        <iframe class="map__frame map__frame_location" src=""
                data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d262549.25044715364!2d-79.86403681705914!3d43.36056996149306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b7c66f21dd597%3A0xed6da70e1c02d20!2sCarlisle%2C%20Hamilton%2C%20ON!5e0!3m2!1sen!2sca!4v1585790253380!5m2!1sen!2sca"
                width="1238" height="696" frameborder="0" allowfullscreen="">
        </iframe>
        <a href="#" class="map__close">
          <svg class="map__close-icon" width="26" height="26">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-x-mark"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="map__view">
      <a href="#" target="_blank" class="map__link zoom-link">View map</a>
      <a href="#" class="map__link map__btn map__btn_location">View location on Google Maps</a>
    </div>
    <div class="map__bottom">
      <div class="booking">
        <div class="booking__btn">
          <a href="https://airbnb.com/h/tobermoryshores" target="_blank" class="btn btn_light">Check availability</a>
        </div>
        <div class="booking__box">
          <div class="booking__text">Starting at</div>
          <div class="booking__price"><strong>${% include 'partials/prices-per-night/_tobermoryshores.html' %}</strong>
            per night
          </div>
        </div>
      </div>
    </div>
    <div class="zoom">
      <a href="#" class="zoom__close"></a>
      <div class="zoom__box">
        <div class="zoom__wrap">
          <picture class="zoom__pic">
            <source data-srcset="/img/map-tobermory_zoom_mob.jpg" media="(max-width: 576px)">
            <img class="zoom__img lazyload" data-src="/img/map-tobermory_zoom.jpg"
                 data-srcset="/img/map-tobermory_zoom@2x.jpg 2x" alt="Tobermory map">
          </picture>
        </div>
      </div>
    </div>
  </div>
  <!-- map (end) -->
  <div class="hr hr_desktop"></div>

  {% include "partials/_explore-other-vacation-rentals.html" %}

</div>

{% endblock %}