<section>
  <h2 class="title">Explore other vacation rentals</h2>
  <div class="swiper-container slider slider_stay">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="/tobermory/cottage/tobermoryshores" class="stay">
          <div class="stay__top">
            <img class="stay__img lazyload" data-src="/img/tobermory2.jpg" data-srcset="/img/tobermory2@2x.jpg 2x" alt="Waterfront Oasis in Tobermory">
          </div>
          <div class="stay__info">
            9 guests | 4 bedrooms | 5 beds | 3 baths
          </div>
          <div class="stay__desc">
            <h3>Waterfront Oasis in Tobermory</h3>
            Starting at <strong>${% include 'partials/prices-per-night/_tobermoryshores.html' %} /</strong> per night
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/hamilton/home/elderberrymanor" class="stay">
          <div class="stay__top">
            <img class="stay__img lazyload" data-src="/img/elderberry2.jpg" data-srcset="/img/elderberry2@2x.jpg 2x" alt="Carlisle Luxe Home">
          </div>
          <div class="stay__info">
            8 guests | 4 bedrooms | 5 beds | 3 baths
          </div>
          <div class="stay__desc">
            <h3>Luxury Home in Carlisle</h3>
            Starting at <strong>${% include 'partials/prices-per-night/_elderberry.html' %} /</strong> per night
          </div>
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/submit" class="stay">
          <div class="stay__top">
            <div class="post-item">
              <div class="post-item__title">List your luxe <strong>vacation home</strong> on luxeberry.ca</div>
              <svg class="post-item__icon" width="252" height="189"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-petal"></use></svg>
            </div>
          </div>
          <div class="stay__info">
            Are you an owner of a high-end vacation home?
          </div>
          <div class="stay__desc">
            Discover how <strong>luxeberry</strong> can unlock the full
            earning potential of your property.
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="btn-wrap">
    <a href="/grand-bend/cottage/rentals" class="btn-link">View Grand Bend vacation rentals<span class="btn-link__arrow"></span></a>
  </div>
</section>