<section class="mb-big">
  <h2 class="title">Featured Vacation Rentals</h2>
  <div class="swiper-container slider slider_stay">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="place" itemscope itemtype="http://schema.org/LodgingBusiness">
          <meta itemprop="image" content="img/grandbend1.jpg">
          <div class="place__images">
            <div class="swiper-container slider slider_place">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/grandbend1.jpg"
                         data-srcset="/img/grandbend1@2x.jpg 2x" alt="Grand Bend Cottage">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/grandbend2.jpg"
                         data-srcset="/img/grandbend2@2x.jpg 2x" alt="Grand Bend Cottage Family Room">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/grandbend3.jpg"
                         data-srcset="/img/grandbend3@2x.jpg 2x" alt="Grand Bend Cottage Games Room">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/grandbend4.jpg"
                         data-srcset="/img/grandbend4@2x.jpg 2x" alt="Grand Bend Cottage Entertainment Room">
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
              <div class="swiper-button-next"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
            </div>
            <div class="place__item place__item_mob">
              <img class="place__img lazyload" data-src="/img/grandbend1.jpg" data-srcset="/img/grandbend1@2x.jpg 2x"
                   alt="Grand Bend">
            </div>
          </div>
          <a href="/grand-bend/cottage/grandwoods" target="_blank" itemprop="url" class="place__link">
            <h3 itemprop="name" class="place__title">Grand Woods</h3>
            <div itemprop="foundingLocation" class="place__location">Grand Bend, Ontario</div>
            <div itemprop="description" class="place__desc">
              A gorgeous five-bedroom property in an oak forest near Grand Bend Beach complete with open-plan living,
              sleek contemporary décor, and a breezy patio.
            </div>
            <div class="place__btn">
              <span class="place__more">More information...</span>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="place" itemscope itemtype="http://schema.org/LodgingBusiness">
          <meta itemprop="image" content="img/tobermory1.jpg">
          <div class="place__images">
            <div class="swiper-container slider slider_place">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/tobermory2.jpg"
                         data-srcset="/img/tobermory2@2x.jpg 2x" alt="Tobermory Cottage Kitchen">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/tobermory1.jpg"
                         data-srcset="/img/tobermory1@2x.jpg 2x" alt="Tobermory Waterfront">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/tobermory3.jpg"
                         data-srcset="/img/tobermory3@2x.jpg 2x" alt="Tobermory Cottage Master Bedroom">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/tobermory4.jpg"
                         data-srcset="/img/tobermory4@2x.jpg 2x" alt="Tobermory Cottage Dining Area">
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
              <div class="swiper-button-next"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
            </div>
            <div class="place__item place__item_mob">
              <img class="place__img lazyload" data-src="/img/tobermory2.jpg" data-srcset="/img/tobermory2@2x.jpg 2x"
                   alt="Tobermory">
            </div>
          </div>
          <a href="/tobermory/cottage/tobermoryshores" target="_blank" itemprop="url" class="place__link">
            <h3 itemprop="name" class="place__title">Tobermory Shores</h3>
            <div itemprop="foundingLocation" class="place__location">Tobermory, Ontario</div>
            <div itemprop="description" class="place__desc">
              Nestled within Ontario’s secluded Bruce Peninsula, this four-bedroom villa boasts contemporary décor and
              beautiful Georgian Bay views.
            </div>
            <div class="place__btn">
              <span class="place__more">More information...</span>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="place" itemscope itemtype="http://schema.org/LodgingBusiness">
          <meta itemprop="image" content="img/somerset1.jpg">
          <div class="place__images">
            <div class="swiper-container slider slider_place">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/somerset2.jpg"
                         data-srcset="/img/somerset1@2x.jpg 2x" alt="Somerset Living Room">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/somerset1.jpg"
                         data-srcset="/img/somerset2@2x.jpg 2x" alt="Somerset Kitchen">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/somerset3.jpg"
                         data-srcset="/img/somerset3@2x.jpg 2x" alt="Somerset Bedroom">
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="place__item">
                    <img class="place__img lazyload" data-src="/img/somerset4.jpg"
                         data-srcset="/img/somerset4@2x.jpg 2x" alt="Somerset Cottage">
                  </div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
              <div class="swiper-button-next"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
            </div>
            <div class="place__item place__item_mob">
              <img class="place__img lazyload" data-src="/img/somerset5.jpg" data-srcset="/img/somerset5@2x.jpg 2x"
                   alt="Somerset Property">
            </div>
          </div>
          <a href="/hamilton/home/somersetcottage" target="_blank" itemprop="url" class="place__link">
            <h3 itemprop="name" class="place__title">Somerset Cottage</h3>
            <div itemprop="foundingLocation" class="place__location">Hamilton, Ontario</div>
            <div itemprop="description" class="place__desc">
              The Somerset Cottage lies within the West Avenue Cider House, a cidery near Hamilton that makes the finest
              cider in Ontario.
            </div>
            <div class="place__btn">
              <span class="place__more">More information...</span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-wrap">
    <a href="/vacation/rentals" class="btn-link">View all luxe vacation rentals<span class="btn-link__arrow"></span></a>
  </div>
</section>