<header class="header">
  <div class="header__box box">
    <a href="/" class="header__logo">
      <img class="header__logo-icon" src="/img/logo.png" srcset="/img/logo@2x.png 2x" alt="Luxeberry">
      <img class="header__logo-icon header__logo-icon_dark" src="/img/logo-white.png" srcset="/img/logo-white@2x.png 2x" alt="Luxeberry">
    </a>
    <div class="nav">
      <nav class="nav__wrap">
        <ul class="nav__list">
          <li class="nav__item nav__item_dropdown">
            <a class="nav__link" href="#">Guests</a>
            <div class="nav__dropdown">
              <ul class="nav__sub">
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/vacation/rentals">Top Vacation Rentals</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/why-luxeberry">Why Stay With Us?</a>
                </li>
                <!--
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/guest-faq">Guest FAQ</a>
                </li>
                -->
              </ul>
            </div>
          </li>
          <li class="nav__item nav__item_dropdown">
            <a class="nav__link" href="#">Property owners</a>
            <div class="nav__dropdown">
              <ul class="nav__sub">
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/property-management">Management Packages</a>
                </li>
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/property-management#lease">Lease to Luxeberry</a>
                </li>
                <!--
                <li class="nav__sub-item">
                  <a class="nav__sub-link" href="/acquisitions">Acquisitions</a>
                </li>
                -->
              </ul>
            </div>
          </li>
          <li class="nav__item">
            <a class="nav__link" href="/contact">Contact Us</a>
          </li>
        </ul>
        <div class="nav__button">
          <a href="/vacation/rentals" class="btn btn_dark btn_plain">Explore Our Rentals</a>
        </div>
      </nav>
      <a class="nav__btn" href="#">
        <span class="nav__btn-line"></span>
      </a>
    </div>
  </div>
</header>
