<section class="post mb-big">
  <div class="post__box">
    <div class="post__base">
      <h2 class="post__title">List your luxe <strong>vacation home</strong> on luxeberry.ca</h2>
      <div class="post__text">
        We carefully handpick vacation properties that offer outstanding design, quality and comfort and work to maximize earning potential, eliminate or minimize owner involvement and cultivate the needs of guests to maintain five-star satisfaction.
      </div>
      <div class="post__btn">
        <a href="/submit" class="btn btn_light btn_size_wide">Apply Now</a>
      </div>
    </div>
    <div class="post__side">
      <svg class="post__icon" width="454" height="350">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-petal"></use>
      </svg>
    </div>
  </div>
  <div class="post__mob">
    <div class="post__heading">We select only the best vacation homes</div>
    <div class="post__link">
      <a href="/submit" class="btn-link">Apply Now</a>
    </div>
  </div>
</section>