<section class="expand expand_active expand_default">
  <h2 class="title title_mb">Top things to do in Grand Bend and Lampton Shores</h2>
  <div class="expand__wrapper">
    <div class="expand__container services services_small">
      <div class="services__item">
        <ul class="list">
          <li class="list__item">Grand Bend Main Beach</li>
          <li class="list__item">Pinery Provincial Park</li>
          <li class="list__item">South Beach</li>
          <li class="list__item">Port Blake Beach</li>
        </ul>
      </div>
      <div class="services__item">
        <ul class="list">
          <li class="list__item">Dark Horse Estate Winery</li>
          <li class="list__item">Huron Country Playhouse</li>
          <li class="list__item">Oakwood Resort Golf Course</li>
          <li class="list__item">Pinery Antique Market</li>
        </ul>
      </div>
      <div class="services__item">
        <ul class="list">
          <li class="list__item">Mini Golf</li>
          <li class="list__item">Fishing Charter</li>
          <li class="list__item">Lakeside Spa</li>
          <li class="list__item">Starlite Drive-In Theatre</li>
        </ul>
      </div>
      <div class="services__item">
        <ul class="list">
          <li class="list__item">Water Sports</li>
          <li class="list__item">Grand Bend Motorplex</li>
          <li class="list__item">Farmer's Market</li>
          <li class="list__item">World famous sunsets</li>
        </ul>
      </div>
    </div>
    <a href="#" class="expand__box">
      <div class="expand__link">
        <span class="expand__text expand__text_show">Show all activities</span>
        <span class="expand__text expand__text_hide">Hide</span>
      </div>
    </a>
  </div>
</section>
<div class="btn-wrap">
  <a href="/grand-bend/attractions/things-to-do" class="btn-link">View all top things to do in Grand Bend<span class="btn-link__arrow"></span></a>
</div>