<section class="expand expand_active expand_default">
  <h2 class="title title_mb">Top things to do in Tobermory</h2>
  <div class="expand__wrapper">
    <div class="expand__container services services_small">
      <div class="services__item">
        <div class="services__top">
          <svg class="services__icon" width="20" height="20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-outdoor"></use>
          </svg>
          <h4 class="services__title">Parks & Beaches</h4>
        </div>
        <ul class="list">
          <li class="list__item">Fathom Five National Marine Park</li>
          <li class="list__item">Bruce Peninsula National Park</li>
          <li class="list__item">Flowerpot Island</li>
          <li class="list__item">Little Cove Provincial Park</li>
          <li class="list__item">Big Tub Harbour</li>
          <li class="list__item">Little Tub Harbour</li>
          <li class="list__item">Mermaid Cove</li>
          <li class="list__item">Singing Sands Beach</li>
        </ul>
      </div>
      <div class="services__item">
        <div class="services__top">
          <svg class="services__icon" width="20" height="20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-binoculars"></use>
          </svg>
          <h4 class="services__title">Sights & Landmarks</h4>
        </div>
        <ul class="list">
          <li class="list__item">The Grotto</li>
          <li class="list__item">Flowerpot Island Lighthouse</li>
          <li class="list__item">Big Tub Lighthouse</li>
          <li class="list__item">Cove Island Lighthouse</li>
          <li class="list__item">See shipwrecks</li>
        </ul>
      </div>
      <div class="services__item">
        <div class="services__top">
          <svg class="services__icon" width="20" height="20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-kayak"></use>
          </svg>
          <h4 class="services__title">Kids & Family Activities</h4>
        </div>
        <ul class="list">
          <li class="list__item">Little Cove Adventures - Aerial Park</li>
          <li class="list__item">Bruce Peninsula National Park</li>
          <li class="list__item">Kayaking or canoeing</li>
          <li class="list__item">Diving and snorkeling</li>
          <li class="list__item">Day trips & tours</li>
        </ul>
      </div>
      <div class="services__item">
        <div class="services__top">
          <svg class="services__icon" width="20" height="20">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-heart"></use>
          </svg>
          <h4 class="services__title">Couples Activites</h4>
        </div>
        <ul class="list">
          <li class="list__item">Dinner cruise</li>
          <li class="list__item">Enjoy a sunset</li>
          <li class="list__item">Stargazing</li>
          <li class="list__item">Hiking</li>
          <li class="list__item">Helicopter tour</li>
        </ul>
      </div>
    </div>
    <a href="#" class="expand__box">
      <div class="expand__link">
        <span class="expand__text expand__text_show">Show all activities</span>
        <span class="expand__text expand__text_hide">Hide</span>
      </div>
    </a>
  </div>
</section>
<div class="btn-wrap">
  <a href="/tobermory/attractions/things-to-do" class="btn-link">View all top things to do in Tobermory<span class="btn-link__arrow"></span></a>
</div>