---
title: Tobermory Cottage Rentals and Vacation Homes | Luxeberry Group
theme: dark
canonical: https://luxeberry.ca/tobermory/cottage/rentals
description: A list of handpicked Tobermory cottage rentals and vacation homes chosen for their outstanding design, quality and comfort. Only the best cottages in the Tobermory area are selected.  
---

{% extends "layouts/_layout.html" %}

{% block content %}
<div class="cover cover_height_small cover_bg_left">
  <picture class="cover__pic">
    <source srcset="/img/cover-vacation-tobermory-2_mob.jpg, /img/cover-vacation-tobermory-2_mob@2x.jpg 2x" media="(max-width: 480px)">
    <img class="cover__img" src="/img/cover-vacation-tobermory-4.jpg" srcset="/img/cover-vacation-tobermory-4@2x.jpg 2x" alt="Tobermory Waterfront Cottage">
  </picture>
  <div class="cover__content box">
    <section class="cover__side">
      <h1 class="cover__heading cover__heading_medium">Exclusive Tobermory cottage rentals and vacation homes.</h1>
      <div class="cover__desc">
        <p class="cover__desc-main_alt">
          Turquoise waters, cragged shoreline and century-old shipwrecks make Tobermory a bucket list destination.
        </p>
      </div>
    </section>
  </div>
</div>

<div class="box">

  <section class="mb">
    <div class="caption filter filter_sort">
      <h2 class="title">Top Rental Cottages in Tobermory</h2>
      <div class="caption__side">
        <div class="filter__container">
          <div class="filter__box">
            <a href="#" class="filter__btn">SORT BY: <span class="filter__text">PRICE: HIGH TO LOW</span></a>
            <div class="filter__dropdown">
              <div class="filter__row">
                <div class="radio">
                  <input class="radio__input" type="radio" id="price-hl" name="radio-sort" checked>
                  <label class="radio__label" for="price-hl">Price: High to Low</label>
                </div>
              </div>
              <div class="filter__row">
                <div class="radio">
                  <input class="radio__input" type="radio" id="price-lh" name="radio-sort">
                  <label class="radio__label" for="price-lh">Price: Low to High</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="offers js-filter js-filter_sort">
      <div class="offers__item js-filter__item" data-price="{% include 'partials/prices-per-night/_tobermoryshores.html' %}" data-distance="7">
        <div class="offer map">
          <div class="offer__images">
            <div class="slider slider_offer swiper-container">
              <div class="swiper-wrapper">
                {% set rental1 = [{
                "img"  : "gallery-tobermoryshores-main_3",
                "title": "Living Room"
                },{
                "img"  : "gallery-tobermoryshores-main_24",
                "title": "Dining Room and Kitchen"
                },{
                "img"  : "gallery-tobermoryshores-main_7",
                "title": "Master Bedroom"
                },{
                "img"  : "gallery-tobermoryshores-main_5",
                "title": "Deck"
                },{
                "img"  : "gallery-tobermoryshores-main_9",
                "title": "Second Floor Bedroom"
                }] %}

                {% for item in rental1 %}
                {{ rentalSlide(item.img, item.title) }}
                {% endfor %}
              </div>
              <div class="swiper-pagination"></div>
              <div class="swiper-button-prev"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
              <div class="swiper-button-next"><svg class="swiper-arrow" width="9" height="14"><use xlink:href="/img/sprite.svg#icon-arrow"></use></svg></div>
            </div>
            <div class="offer__map map__content">
              <iframe class="map__frame map__frame_location" src=""
                      data-src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22468.492704587894!2d-81.6835051614978!3d45.25665745528846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDXCsDE1JzI0LjAiTiA4McKwMzknNTcuNiJX!5e0!3m2!1sen!2sca!4v1585496442526!5m2!1sen!2sca"
                      width="1238" height="373" frameborder="0" allowfullscreen="">
              </iframe>
              <iframe class="map__frame map__frame_distance" src=""
                      data-src="https://www.google.com/maps/embed?pb=!1m26!1m12!1m3!1d8166.710269144487!2d-81.65709628903214!3d45.259677911979054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m11!3e6!4m3!3m2!1d45.264739!2d-81.64010789999999!4m5!1s0x4d2d0ba9fb4f9461%3A0x3b2e70b0e46a3526!2sTobermory%2C%20ON%2C%20Canada!3m2!1d45.2533625!2d-81.6645411!5e0!3m2!1sen!2sca!4v1581698311582!5m2!1sen!2sca"
                      width="1238" height="373" frameborder="0" allowfullscreen="">
              </iframe>
              <a href="#" class="map__close">
                <svg class="map__close-icon" width="26" height="26">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-x-mark"></use>
                </svg>
              </a>
            </div>
          </div>
          <div class="offer__side">
            <h3 class="offer__title">Tobermory Shores</h3>
            <div class="offer__info">
              <a href="#" class="offer__link map__btn map__btn_location"><span
                  class="offer__link-text">Tobermory, ON</span></a>
              <a href="#" class="offer__link map__btn map__btn_distance">
                <svg class="offer__icon" width="13" height="13">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-clock"></use>
                </svg>
                <span class="offer__link-text">5 min to Tobermory centre</span>
              </a>
            </div>
            <div class="offer__desc">
              TobermoryShores offers breathtaking views
              of one of Canada’s most beautiful and
              scenic vacation destinations. Enjoy world
              famous sunsets and scubdiving.
            </div>
            <div class="offer__box">
              <div class="offer__prop">
                <div class="prop">
                  <div class="prop__cell">
                    <div class="prop__item">
                      <div class="prop__icon-wrap">
                        <svg class="prop__icon" width="25" height="25">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-user"></use>
                        </svg>
                      </div>
                      <div class="prop__count">9</div>
                      <div class="prop__text">guests</div>
                    </div>
                  </div>
                  <div class="prop__cell">
                    <div class="prop__item">
                      <div class="prop__icon-wrap">
                        <svg class="prop__icon" width="25" height="25">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-window"></use>
                        </svg>
                      </div>
                      <div class="prop__count">4</div>
                      <div class="prop__text">bedrooms</div>
                    </div>
                  </div>
                  <div class="prop__cell">
                    <div class="prop__item">
                      <div class="prop__icon-wrap">
                        <svg class="prop__icon" width="28" height="25">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-bed"></use>
                        </svg>
                      </div>
                      <div class="prop__count">5</div>
                      <div class="prop__text">beds</div>
                    </div>
                  </div>
                  <div class="prop__cell">
                    <div class="prop__item">
                      <div class="prop__icon-wrap">
                        <svg class="prop__icon" width="25" height="25">
                          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/img/sprite.svg#icon-bathtub"></use>
                        </svg>
                      </div>
                      <div class="prop__count">3</div>
                      <div class="prop__text">bathrooms</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="offer__price">Starting at <strong>${% include 'partials/prices-per-night/_tobermoryshores.html' %}</strong> per night</div>
            </div>
            <a href="/tobermory/cottage/tobermoryshores" target="_blank" class="offer__href"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include "partials/_list-vacations.html" %}

  <div class="hr hr_mobile"></div>

  {% include "partials/_top-things-tobermory.html" %}

  <div class="hr hr_mobile"></div>
</div>

{% endblock %}