.icon-arrow {
  width: 0.64em;
  height: 1em;
  fill: ;
}
.icon-barbecue {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-bathtub {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-bed {
  width: 1.09em;
  height: 1em;
  fill: ;
}
.icon-bell {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-binoculars {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-carte {
  width: 1.08em;
  height: 1em;
  fill: ;
}
.icon-clock {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-coffee-cup {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-cursor {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-dog {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-facebook {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-filter {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-gear {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-hand {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-heart {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-instagram {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-kayak {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-lease {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-map-marker {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-outdoor {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-oven {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-padlock {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-parking {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-petal {
  width: 1.33em;
  height: 1em;
  fill: ;
}
.icon-pinterest {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-support {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-television {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-wifi {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-window {
  width: 1em;
  height: 1em;
  fill: ;
}
.icon-x-mark {
  width: 1em;
  height: 1em;
  fill: ;
}
